NodeRed/android.json
[{"id":"e4b074d8.864d3","type":"tab","label":"Debugger","disabled":false,"info":""},{"id":"6f9da3c5.81d51c","type":"mqtt-broker","z":"","name":"Android","broker":"localhost","port":"1883","clientid":"androidDebuger","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60c58c.c52f4274","type":"mosca in","z":"e4b074d8.864d3","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Android","username":"","password":"","dburl":"","x":90,"y":40,"wires":[[]]},{"id":"ab6ef3ba.b71ad8","type":"inject","z":"e4b074d8.864d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["8e51cfba.68378"]]},{"id":"8e51cfba.68378","type":"mqtt out","z":"e4b074d8.864d3","name":"","topic":"button","qos":"","retain":"","broker":"6f9da3c5.81d51c","x":310,"y":120,"wires":[]},{"id":"786923f.e054e5c","type":"mqtt in","z":"e4b074d8.864d3","name":"","topic":"stringIn1","qos":"0","datatype":"auto","broker":"6f9da3c5.81d51c","x":120,"y":180,"wires":[["9cf1d8f7.c7ee2"]]},{"id":"9cf1d8f7.c7ee2","type":"debug","z":"e4b074d8.864d3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":180,"wires":[]},{"id":"b4700afb.bd2928","type":"mqtt in","z":"e4b074d8.864d3","name":"","topic":"button","qos":"0","datatype":"auto","broker":"6f9da3c5.81d51c","x":130,"y":300,"wires":[["41bee2bb.cae43c"]]},{"id":"41bee2bb.cae43c","type":"debug","z":"e4b074d8.864d3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":300,"wires":[]},{"id":"9a00af3c.b14d3","type":"mqtt in","z":"e4b074d8.864d3","name":"","topic":"stringIn2","qos":"0","datatype":"auto","broker":"6f9da3c5.81d51c","x":120,"y":240,"wires":[["957be2cb.93ea2"]]},{"id":"957be2cb.93ea2","type":"debug","z":"e4b074d8.864d3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":240,"wires":[]},{"id":"22bbe3e6.4f28a4","type":"mqtt in","z":"e4b074d8.864d3","name":"","topic":"connected","qos":"1","datatype":"auto","broker":"6f9da3c5.81d51c","x":120,"y":360,"wires":[["8ce9a44f.95c278"]]},{"id":"8ce9a44f.95c278","type":"debug","z":"e4b074d8.864d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":360,"wires":[]}]