NodeRed/flows.json
[{"id":"9824ff14.08493","type":"http request","z":"e7bc7f06.5a769","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.99.67:9428/api/queues/0","tls":"","proxy":"","authType":"basic","x":370,"y":380,"wires":[["d7604ef8.460e2"]]},{"id":"8fed4990.8edea8","type":"function","z":"e7bc7f06.5a769","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\nvar id = JSON.parse(msg.payload)[0]['id'];\n\nvar data = {\n    'id': id,\n    'queue': queue\n};\n\nglobal.set('data', data);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["2483e5ea.d7bb3a"]]},{"id":"d7604ef8.460e2","type":"json","z":"e7bc7f06.5a769","name":"","property":"payload","action":"","pretty":false,"x":510,"y":380,"wires":[["8fed4990.8edea8"]]},{"id":"c5da207f.9b049","type":"function","z":"e7bc7f06.5a769","name":"setAuthorization","func":"msg.headers = {\n    'Authorization': 'Bearer '.concat(global.get('token'))\n}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":380,"wires":[["9824ff14.08493"]]}]