NodeRed/flows.json
[{"id":"95a50817.5a49e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4940c899.2e7648","type":"http request","z":"95a50817.5a49e","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/0","tls":"","proxy":"","authType":"basic","x":270,"y":120,"wires":[["fbba1116.5161b"]]},{"id":"dd8e9b40.25baf8","type":"http in","z":"95a50817.5a49e","name":"Get Next","url":"/next","method":"get","upload":false,"swaggerDoc":"","x":80,"y":260,"wires":[["b43455c8.c2961"]]},{"id":"d8def354.803de","type":"inject","z":"95a50817.5a49e","name":"Next","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["b43455c8.c2961"]]},{"id":"b43455c8.c2961","type":"switch","z":"95a50817.5a49e","name":"if queue is null","property":"data.queue","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":240,"wires":[["4940c899.2e7648"],["80c9ad6d.935ff8"]]},{"id":"9baf6c7b.41a288","type":"function","z":"95a50817.5a49e","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\n\nvar data = {\n    'queue': queue,\n    'count': -1\n};\n\nflow.set('data', data);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["80c9ad6d.935ff8"]]},{"id":"80c9ad6d.935ff8","type":"function","z":"95a50817.5a49e","name":"nextId","func":"var data = flow.get('data');\ndata.count += 1;\n\nif (data.count == data.queue.length) {\n    flow.set('data', null);\n    return null\n} else {\n    msg.payload = data.queue[data.count];\n    flow.set('data', data);\n    return msg\n}","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["ff92e14a.ad9b18"]]},{"id":"fbba1116.5161b","type":"json","z":"95a50817.5a49e","name":"","property":"payload","action":"","pretty":false,"x":410,"y":120,"wires":[["9baf6c7b.41a288"]]},{"id":"e5da1cc.995ee6","type":"http request","z":"95a50817.5a49e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:9428/api/students/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":390,"y":380,"wires":[["2bb4b270.625d8e"]]},{"id":"2bb4b270.625d8e","type":"http response","z":"95a50817.5a49e","name":"","statusCode":"","headers":{},"x":650,"y":380,"wires":[]},{"id":"ff92e14a.ad9b18","type":"switch","z":"95a50817.5a49e","name":"if msg is null","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":360,"wires":[["fce88007.824088"],["e5da1cc.995ee6"]]},{"id":"fce88007.824088","type":"http response","z":"95a50817.5a49e","name":"","statusCode":"","headers":{},"x":650,"y":340,"wires":[]}]