NodeRed/flows.json
[{"id":"95a50817.5a49e","type":"tab","label":"/next","disabled":false,"info":""},{"id":"a81a3976.aafff8","type":"tab","label":"/studentleft","disabled":false,"info":""},{"id":"4940c899.2e7648","type":"http request","z":"95a50817.5a49e","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.117.20:9428/api/queues/0","tls":"","proxy":"","authType":"basic","x":350,"y":180,"wires":[["fbba1116.5161b"]]},{"id":"dd8e9b40.25baf8","type":"http in","z":"95a50817.5a49e","name":"Get Next","url":"/next","method":"get","upload":false,"swaggerDoc":"","x":80,"y":260,"wires":[["b43455c8.c2961"]]},{"id":"d8def354.803de","type":"inject","z":"95a50817.5a49e","name":"Next","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["b43455c8.c2961"]]},{"id":"b43455c8.c2961","type":"switch","z":"95a50817.5a49e","name":"if queue is null","property":"data.queue","propertyType":"global","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":240,"wires":[["4940c899.2e7648"],["4940c899.2e7648"]]},{"id":"9baf6c7b.41a288","type":"function","z":"95a50817.5a49e","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\nvar id = JSON.parse(msg.payload)[0]['id'];\n\nvar data = {\n    'id': id,\n    'queue': queue\n};\n\nglobal.set('data', data);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["80c9ad6d.935ff8"]]},{"id":"80c9ad6d.935ff8","type":"function","z":"95a50817.5a49e","name":"nextId","func":"var data = global.get('data');\n\nif (data.queue.length > 0) {\n    msg.studentId = data.queue.shift();\n    return msg\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["ff92e14a.ad9b18"]]},{"id":"fbba1116.5161b","type":"json","z":"95a50817.5a49e","name":"","property":"payload","action":"","pretty":false,"x":490,"y":180,"wires":[["9baf6c7b.41a288"]]},{"id":"e5da1cc.995ee6","type":"http request","z":"95a50817.5a49e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.117.20:9428/api/students/{{{studentId}}}","tls":"","proxy":"","authType":"basic","x":430,"y":400,"wires":[["2bb4b270.625d8e"]]},{"id":"2bb4b270.625d8e","type":"http response","z":"95a50817.5a49e","name":"","statusCode":"","headers":{},"x":610,"y":400,"wires":[]},{"id":"ff92e14a.ad9b18","type":"switch","z":"95a50817.5a49e","name":"if studentId is null","property":"studentId","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":380,"wires":[["374bb8.c8a2ec48"],["e5da1cc.995ee6","e79d3ade.efbd78"]]},{"id":"fce88007.824088","type":"http response","z":"95a50817.5a49e","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"58cfc1ca.de8cb","type":"http request","z":"95a50817.5a49e","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://10.212.117.20:9428/api/queues/{{{queueId}}}","tls":"","proxy":"","authType":"basic","x":630,"y":440,"wires":[["cedfd06.69f253"]]},{"id":"e79d3ade.efbd78","type":"function","z":"95a50817.5a49e","name":"setBody","func":"msg.payload = {\n    \"queue\": global.get('data').queue,\n}\n\nmsg.queueId = global.get('data').id;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["58cfc1ca.de8cb"]]},{"id":"cedfd06.69f253","type":"debug","z":"95a50817.5a49e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":440,"wires":[]},{"id":"374bb8.c8a2ec48","type":"change","z":"95a50817.5a49e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["fce88007.824088"]]},{"id":"6e881c68.cc8894","type":"http request","z":"a81a3976.aafff8","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.117.20:9428/api/queues/0","tls":"","proxy":"","authType":"basic","x":330,"y":160,"wires":[["846a0c4e.1136b"]]},{"id":"fdb32c2d.8d46d","type":"http in","z":"a81a3976.aafff8","name":"Students Left","url":"/studentleft","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["9bcd810b.e9187"]]},{"id":"e3bcd0e1.2b953","type":"inject","z":"a81a3976.aafff8","name":"Students Left","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["9bcd810b.e9187"]]},{"id":"9bcd810b.e9187","type":"switch","z":"a81a3976.aafff8","name":"if queue is null","property":"data.queue","propertyType":"global","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":240,"wires":[["6e881c68.cc8894"],["56f7b673.837f68"]]},{"id":"f4573b18.585698","type":"function","z":"a81a3976.aafff8","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\nvar id = JSON.parse(msg.payload)[0]['id'];\n\nvar data = {\n    'id': id,\n    'queue': queue\n};\n\nglobal.set('data', data);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["56f7b673.837f68"]]},{"id":"56f7b673.837f68","type":"function","z":"a81a3976.aafff8","name":"getStudentsLeft","func":"var data = global.get('data');\n\nmsg.payload = data.queue.length;\nreturn msg","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["b4e280a6.cd371"]]},{"id":"846a0c4e.1136b","type":"json","z":"a81a3976.aafff8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":160,"wires":[["f4573b18.585698"]]},{"id":"b4e280a6.cd371","type":"http response","z":"a81a3976.aafff8","name":"","statusCode":"","headers":{},"x":730,"y":240,"wires":[]}]