NodeRed/orchestrator.json
[{"id":"6737200c.bdeea","type":"tab","label":"/next","disabled":false,"info":""},{"id":"fc686670.73279","type":"tab","label":"/studentleft","disabled":false,"info":""},{"id":"a2015a27.700658","type":"tab","label":"/login","disabled":false,"info":""},{"id":"623075a8.627e3c","type":"tab","label":"mqtt test","disabled":false,"info":""},{"id":"9b5f3202.5a5748","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"96b1cd30.172df","type":"mqtt-broker","z":"","name":"Raspberry","broker":"192.168.137.89","port":"1883","clientid":"orchestrator","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42e3099a.ac7f2","type":"http request","z":"6737200c.bdeea","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.99.67:9428/api/queues/0","tls":"","proxy":"","authType":"basic","x":450,"y":140,"wires":[["324a5bee.96abac"]]},{"id":"e44bef05.7c63a8","type":"http in","z":"6737200c.bdeea","name":"Get Next","url":"/next","method":"get","upload":false,"swaggerDoc":"","x":80,"y":260,"wires":[["7be7bcb4.8fc284"]]},{"id":"ee74a408.f8959","type":"inject","z":"6737200c.bdeea","name":"Next","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["7be7bcb4.8fc284"]]},{"id":"7be7bcb4.8fc284","type":"switch","z":"6737200c.bdeea","name":"if queue is null","property":"data.queue","propertyType":"global","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":240,"wires":[["74503316.59468c"],["74503316.59468c"]]},{"id":"830e77d0.b83f08","type":"function","z":"6737200c.bdeea","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\nvar id = JSON.parse(msg.payload)[0]['id'];\n\nvar data = {\n 'id': id,\n 'queue': queue\n};\n\nglobal.set('data', data);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["e01c72bd.08101"]]},{"id":"e01c72bd.08101","type":"function","z":"6737200c.bdeea","name":"nextId","func":"var data = global.get('data');\n\nif (data.queue.length > 0) {\n msg.studentId = data.queue.shift();\n return msg\n} else {\n return msg;\n}","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["b75e5abd.d24188"]]},{"id":"324a5bee.96abac","type":"json","z":"6737200c.bdeea","name":"","property":"payload","action":"","pretty":false,"x":590,"y":140,"wires":[["830e77d0.b83f08"]]},{"id":"306b7a3a.f4908e","type":"http request","z":"6737200c.bdeea","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.99.67:9428/api/students/{{{studentId}}}","tls":"","proxy":"","authType":"basic","x":630,"y":400,"wires":[["7a3d5d6.4603ca4"]]},{"id":"7a3d5d6.4603ca4","type":"http response","z":"6737200c.bdeea","name":"","statusCode":"","headers":{},"x":810,"y":400,"wires":[]},{"id":"b75e5abd.d24188","type":"switch","z":"6737200c.bdeea","name":"if studentId is null","property":"studentId","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":380,"wires":[["4390e223.54333c"],["ed6bea48.3629a"]]},{"id":"e35aed0b.a63eb8","type":"http response","z":"6737200c.bdeea","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"8dc23530.809c88","type":"http request","z":"6737200c.bdeea","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://10.212.99.67:9428/api/queues/{{{queueId}}}","tls":"","proxy":"","authType":"basic","x":830,"y":440,"wires":[["3a41f673.303c02"]]},{"id":"2de5866f.bf5b9a","type":"function","z":"6737200c.bdeea","name":"setBody","func":"msg.payload = {\n \"queue\": global.get('data').queue,\n}\n\nmsg.queueId = global.get('data').id;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["8dc23530.809c88"]]},{"id":"3a41f673.303c02","type":"debug","z":"6737200c.bdeea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":440,"wires":[]},{"id":"4390e223.54333c","type":"change","z":"6737200c.bdeea","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["e35aed0b.a63eb8"]]},{"id":"4335a113.d61258","type":"http request","z":"fc686670.73279","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://10.212.99.67:9428/api/queues/0","tls":"","proxy":"","authType":"basic","x":370,"y":380,"wires":[["d00b1f20.76d5e8"]]},{"id":"112a8c25.a4f94c","type":"http in","z":"fc686670.73279","name":"Students Left","url":"/studentleft","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["74c4f863.71c72"]]},{"id":"464306f6.e2325","type":"inject","z":"fc686670.73279","name":"Students Left","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["2536069c.6abf62"]]},{"id":"2536069c.6abf62","type":"switch","z":"fc686670.73279","name":"if queue is null","property":"data.queue","propertyType":"global","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":460,"y":240,"wires":[["751547fb.ad5878"],["751547fb.ad5878"]]},{"id":"66eb7503.fb3004","type":"function","z":"fc686670.73279","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\nvar id = JSON.parse(msg.payload)[0]['id'];\n\nvar data = {\n 'id': id,\n 'queue': queue\n};\n\nglobal.set('data', data);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["b6cd20d4.ec48f8"]]},{"id":"b6cd20d4.ec48f8","type":"function","z":"fc686670.73279","name":"getStudentsLeft","func":"var data = global.get('data');\n\nmsg.payload = data.queue.length;\nreturn msg","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["4ede0e34.244598"]]},{"id":"d00b1f20.76d5e8","type":"json","z":"fc686670.73279","name":"","property":"payload","action":"","pretty":false,"x":510,"y":380,"wires":[["66eb7503.fb3004"]]},{"id":"4ede0e34.244598","type":"http response","z":"fc686670.73279","name":"","statusCode":"","headers":{},"x":670,"y":480,"wires":[]},{"id":"1063d24c.5dcffe","type":"http in","z":"a2015a27.700658","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["c65f2694.fb925","9d97a949.3be6c"]]},{"id":"c65f2694.fb925","type":"http request","z":"a2015a27.700658","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"10.212.99.67:9428/api/users/login/","tls":"","proxy":"","authType":"basic","x":330,"y":140,"wires":[["6b8ebf40.bf13b8","7fddaf75.47304"]]},{"id":"9d97a949.3be6c","type":"debug","z":"a2015a27.700658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":200,"wires":[]},{"id":"43a7e290.5d8314","type":"http response","z":"a2015a27.700658","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"6b8ebf40.bf13b8","type":"debug","z":"a2015a27.700658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":200,"wires":[]},{"id":"7fddaf75.47304","type":"change","z":"a2015a27.700658","name":"","rules":[{"t":"set","p":"token","pt":"global","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["43a7e290.5d8314"]]},{"id":"74503316.59468c","type":"function","z":"6737200c.bdeea","name":"setAuthorization","func":"msg.headers = {\n 'Authorization': 'Bearer '.concat(global.get('token'))\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["42e3099a.ac7f2"]]},{"id":"5e5bcda7.67eb14","type":"debug","z":"6737200c.bdeea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":480,"wires":[]},{"id":"751547fb.ad5878","type":"function","z":"fc686670.73279","name":"setAuthorization","func":"msg.headers = {\n 'Authorization': 'Bearer '.concat(global.get('token'))\n}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":380,"wires":[["4335a113.d61258"]]},{"id":"ed6bea48.3629a","type":"function","z":"6737200c.bdeea","name":"setAuthorization","func":"msg.headers = {\n 'Authorization': 'Bearer '.concat(global.get('token'))\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["2de5866f.bf5b9a","306b7a3a.f4908e","5e5bcda7.67eb14"]]},{"id":"74c4f863.71c72","type":"delay","z":"fc686670.73279","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":260,"wires":[["2536069c.6abf62"]]},{"id":"f47d9d17.0dfb48","type":"mqtt in","z":"623075a8.627e3c","name":"","topic":"button","qos":"0","datatype":"utf8","broker":"96b1cd30.172df","x":130,"y":120,"wires":[["4b78474d.01d2b","dcaf6f9f.9f90d"]]},{"id":"4b78474d.01d2b","type":"function","z":"623075a8.627e3c","name":"next Student","func":"return {\n    payload: \"HENRI\"\n}","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["a9856b73.e6dbf8"]]},{"id":"a9856b73.e6dbf8","type":"mqtt out","z":"623075a8.627e3c","name":"","topic":"nextStudent","qos":"","retain":"","broker":"96b1cd30.172df","x":570,"y":100,"wires":[]},{"id":"dcaf6f9f.9f90d","type":"debug","z":"623075a8.627e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]}]