NodeRed/orchestrator.json
[{"id":"623075a8.627e3c","type":"tab","label":"button pressed","disabled":false,"info":""},{"id":"a2015a27.700658","type":"tab","label":"mqtt login","disabled":false,"info":""},{"id":"9b5f3202.5a5748","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"96b1cd30.172df","type":"mqtt-broker","z":"","name":"Raspberry","broker":"192.168.137.89","port":"1883","clientid":"orchestrator","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fcfd24.85c462c","type":"mqtt-broker","z":"","name":"Android","broker":"192.168.137.91","port":"1883","clientid":"orchestrator","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"615fa633.eb482","type":"http request","z":"a2015a27.700658","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"localhost:9428/api/users/login/","tls":"","proxy":"","authType":"basic","x":310,"y":120,"wires":[["47ad6e85.4f6948"]]},{"id":"3bbcce11.a4bdaa","type":"mqtt in","z":"a2015a27.700658","name":"rasp/login","topic":"login","qos":"0","datatype":"json","broker":"96b1cd30.172df","x":100,"y":120,"wires":[["615fa633.eb482"]]},{"id":"788bf32d.522f94","type":"mqtt out","z":"a2015a27.700658","name":"rasp/connected","topic":"connected","qos":"0","retain":"","broker":"96b1cd30.172df","x":860,"y":120,"wires":[]},{"id":"47ad6e85.4f6948","type":"switch","z":"a2015a27.700658","name":"if connected","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":120,"wires":[["6bf69d11.e6cad4","72d9bb15.d4a324"],["2ac471f0.8edc76"]]},{"id":"6bf69d11.e6cad4","type":"function","z":"a2015a27.700658","name":"set true","func":"return {\n    payload: true\n};","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["788bf32d.522f94"]]},{"id":"2ac471f0.8edc76","type":"function","z":"a2015a27.700658","name":"set false","func":"return {\n    payload: false\n}","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["788bf32d.522f94"]]},{"id":"72d9bb15.d4a324","type":"function","z":"a2015a27.700658","name":"set raspberry","func":"var raspberry = {\n    ip: \"192.168.137.89\",\n    userId: msg.payload.user.id,\n    token: msg.payload.token\n};\nglobal.set('raspberry', raspberry)","outputs":0,"noerr":0,"x":690,"y":60,"wires":[]},{"id":"8fca39f3.cfb3c8","type":"http request","z":"a2015a27.700658","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"localhost:9428/api/users/login/","tls":"","proxy":"","authType":"basic","x":310,"y":260,"wires":[["bb6135fc.f9f508"]]},{"id":"27c3094f.85be2e","type":"mqtt in","z":"a2015a27.700658","name":"android/login","topic":"login","qos":"0","datatype":"json","broker":"7fcfd24.85c462c","x":110,"y":260,"wires":[["8fca39f3.cfb3c8"]]},{"id":"8a6b34db.181a1","type":"mqtt out","z":"a2015a27.700658","name":"android/connected","topic":"connected","qos":"0","retain":"","broker":"7fcfd24.85c462c","x":870,"y":260,"wires":[]},{"id":"bb6135fc.f9f508","type":"switch","z":"a2015a27.700658","name":"if connected","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":260,"wires":[["babe1393.8462d8","7b334f29.de76c"],["fc1fa6b9.f27c58"]]},{"id":"babe1393.8462d8","type":"function","z":"a2015a27.700658","name":"set true","func":"return {\n    payload: true\n};","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["8a6b34db.181a1"]]},{"id":"fc1fa6b9.f27c58","type":"function","z":"a2015a27.700658","name":"set false","func":"return {\n    payload: false\n}","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["8a6b34db.181a1"]]},{"id":"7b334f29.de76c","type":"function","z":"a2015a27.700658","name":"set android","func":"var android = {\n    ip: \"192.168.137.91\",\n    userId: msg.payload.user.id,\n    token: msg.payload.token\n};\nglobal.set('android', android);","outputs":0,"noerr":0,"x":690,"y":200,"wires":[]},{"id":"bc7f0a8c.47245","type":"mqtt in","z":"623075a8.627e3c","name":"rasp/button","topic":"button","qos":"0","datatype":"utf8","broker":"96b1cd30.172df","x":180,"y":60,"wires":[["beb4350b.483ba8","5ee44aea.bcf97c"]]},{"id":"fe75bd16.cc74a","type":"http request","z":"623075a8.627e3c","name":"Get Mocks","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{userId}}}","tls":"","proxy":"","authType":"basic","x":350,"y":240,"wires":[["896a7062.ed6c6"]]},{"id":"fdbc8fce.c9199","type":"function","z":"623075a8.627e3c","name":"Store","func":"var queue = JSON.parse(msg.payload)[0]['queue'];\nvar id = JSON.parse(msg.payload)[0]['id'];\n\nmsg.queueId = id;\n\nif (queue.length > 0) {\n msg.studentId = queue.shift();\n}\n\nmsg.payload = queue.length;\nmsg.queue = queue;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["9adf551c.172668","73b89e71.6b5788","46feeb4e.f4635c"]]},{"id":"896a7062.ed6c6","type":"json","z":"623075a8.627e3c","name":"","property":"payload","action":"","pretty":false,"x":490,"y":240,"wires":[["fdbc8fce.c9199"]]},{"id":"b50973c2.762bf8","type":"function","z":"623075a8.627e3c","name":"setAuthorization","func":"msg.headers = {\n 'Authorization': 'Bearer '.concat(msg.token)\n}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":240,"wires":[["fe75bd16.cc74a"]]},{"id":"9483937f.512d8","type":"http request","z":"623075a8.627e3c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/students/{{{studentId}}}","tls":"","proxy":"","authType":"basic","x":390,"y":600,"wires":[["8bf4ec03.b03778"]]},{"id":"9adf551c.172668","type":"switch","z":"623075a8.627e3c","name":"queue is empty","property":"queue","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":380,"wires":[["dabeb613.36f9c8","7d4f17c8.0b9ea"],["d5d88fdd.377aa"]]},{"id":"7b89b819.bc992","type":"http request","z":"623075a8.627e3c","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://localhost:9428/api/queues/{{{queueId}}}","tls":"","proxy":"","authType":"basic","x":530,"y":660,"wires":[["6145dc5b.e3de0c"]]},{"id":"cc514c6c.8ad2d","type":"function","z":"623075a8.627e3c","name":"setBody","func":"msg.payload = {\n \"queue\": msg.queue,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":660,"wires":[["7b89b819.bc992"]]},{"id":"6145dc5b.e3de0c","type":"debug","z":"623075a8.627e3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":660,"wires":[]},{"id":"dabeb613.36f9c8","type":"change","z":"623075a8.627e3c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Il n'y a plus d'étudiant","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["94180212.27d3f"]]},{"id":"d5d88fdd.377aa","type":"function","z":"623075a8.627e3c","name":"setAuthorization","func":"msg.headers = {\n 'Authorization': 'Bearer '.concat(msg.token)\n}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":600,"wires":[["cc514c6c.8ad2d","9483937f.512d8"]]},{"id":"beb4350b.483ba8","type":"function","z":"623075a8.627e3c","name":"set informations","func":"var object = global.get(msg.payload);\n\nmsg.token = object.token;\nmsg.userId = object.userId;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["b50973c2.762bf8"]]},{"id":"8bf4ec03.b03778","type":"function","z":"623075a8.627e3c","name":"set mqtt","func":"return {\n    payload: msg.payload.firstName\n};","outputs":1,"noerr":0,"x":540,"y":600,"wires":[["1c3a8656.48a26a"]]},{"id":"b93a3e5d.c7bd2","type":"mqtt in","z":"623075a8.627e3c","name":"android/button","topic":"button","qos":"0","datatype":"utf8","broker":"7fcfd24.85c462c","x":170,"y":120,"wires":[["beb4350b.483ba8","5ee44aea.bcf97c"]]},{"id":"94180212.27d3f","type":"mqtt out","z":"623075a8.627e3c","name":"android/stringIn1","topic":"stringIn1","qos":"","retain":"","broker":"7fcfd24.85c462c","x":690,"y":340,"wires":[]},{"id":"1c3a8656.48a26a","type":"mqtt out","z":"623075a8.627e3c","name":"android/stringIn1","topic":"stringIn1","qos":"","retain":"","broker":"7fcfd24.85c462c","x":710,"y":600,"wires":[]},{"id":"46feeb4e.f4635c","type":"mqtt out","z":"623075a8.627e3c","name":"rasp/stringIn","topic":"stringIn","qos":"0","retain":"","broker":"96b1cd30.172df","x":810,"y":180,"wires":[]},{"id":"73b89e71.6b5788","type":"mqtt out","z":"623075a8.627e3c","name":"android/stringIn2","topic":"stringIn2","qos":"","retain":"","broker":"7fcfd24.85c462c","x":830,"y":240,"wires":[]},{"id":"5ee44aea.bcf97c","type":"debug","z":"623075a8.627e3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":60,"wires":[]},{"id":"f94555fe.34e788","type":"mqtt out","z":"623075a8.627e3c","name":"rasp/letState","topic":"ledState","qos":"0","retain":"","broker":"96b1cd30.172df","x":930,"y":440,"wires":[]},{"id":"daf16e25.bec2","type":"delay","z":"623075a8.627e3c","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":480,"wires":[["ad98395f.8af78","7d4f17c8.0b9ea"]]},{"id":"7d4f17c8.0b9ea","type":"function","z":"623075a8.627e3c","name":"count","func":"var count = context.get('count') || 0;\n\ncount++;\n\ncontext.set('count', count);\n\nif (count < 4) {\n    return msg;\n} else {\n    context.set('count', 0);\n}","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["d1dae57c.348418"]]},{"id":"9b3d36b9.ba242","type":"function","z":"623075a8.627e3c","name":"On","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["f94555fe.34e788"]]},{"id":"ad98395f.8af78","type":"function","z":"623075a8.627e3c","name":"Off","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["f94555fe.34e788"]]},{"id":"d1dae57c.348418","type":"delay","z":"623075a8.627e3c","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":400,"wires":[["daf16e25.bec2","9b3d36b9.ba242"]]}]