NodeRed/raspberry.json
[{"id":"9d935658.3f64f8","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"f82e9500.e2cda","type":"rpi-gpio in","z":"9d935658.3f64f8","name":"Button","pin":"31","intype":"down","debounce":"25","read":true,"x":130,"y":200,"wires":[["60e6d166.c9a71"]]},{"id":"53e490b4.088068","type":"debug","z":"9d935658.3f64f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"60e6d166.c9a71","type":"switch","z":"9d935658.3f64f8","name":"If payload == 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":200,"wires":[["f1d0bcf3.a856d","dfd80ad0.80f2f"]]},{"id":"f1d0bcf3.a856d","type":"function","z":"9d935658.3f64f8","name":"set mqtt","func":"return {\n    topic: 'next',\n    payload: 'next'\n}","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["53e490b4.088068","eb3f5dca.7c88"]]},{"id":"b4f27da7.27c8b","type":"rpi-gpio out","z":"9d935658.3f64f8","name":"LED","pin":"29","set":true,"level":"0","freq":"","out":"out","x":690,"y":260,"wires":[]},{"id":"dfd80ad0.80f2f","type":"function","z":"9d935658.3f64f8","name":"set led state","func":"var state = context.get('state') || false;\nstate = !state;\ncontext.set('state', state);\n\nreturn {\n    payload: state\n}","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["b4f27da7.27c8b","a5caef36.bd401"]]},{"id":"a5caef36.bd401","type":"debug","z":"9d935658.3f64f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":320,"wires":[]},{"id":"eb3f5dca.7c88","type":"mqtt out","z":"9d935658.3f64f8","name":"publish next","topic":"","qos":"","retain":"","broker":"faa9ffbf.66fd08","x":710,"y":200,"wires":[]},{"id":"faa9ffbf.66fd08","type":"mqtt-broker","z":"","name":"Raspberry","broker":"localhost","port":"1883","tls":"ac0ed895.e525e","clientid":"rasp","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac0ed895.e525e","type":"tls-config","z":null,"name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]