NodeRed/raspberry.json
[{"id":"9d935658.3f64f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac0ed895.e525e","type":"tls-config","z":null,"name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"faa9ffbf.66fd08","type":"mqtt-broker","z":"","name":"Raspberry","broker":"192.168.137.89","port":"1883","tls":"ac0ed895.e525e","clientid":"rasp","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1e556e6.689e1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f82e9500.e2cda","type":"rpi-gpio in","z":"9d935658.3f64f8","name":"Button","pin":"31","intype":"down","debounce":"25","read":true,"x":130,"y":120,"wires":[["60e6d166.c9a71"]]},{"id":"53e490b4.088068","type":"debug","z":"9d935658.3f64f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"60e6d166.c9a71","type":"switch","z":"9d935658.3f64f8","name":"If payload == 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":120,"wires":[["f1d0bcf3.a856d"]]},{"id":"f1d0bcf3.a856d","type":"function","z":"9d935658.3f64f8","name":"set mqtt","func":"return {\n    payload: 'pressed'\n}","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["53e490b4.088068","eb3f5dca.7c88"]]},{"id":"b4f27da7.27c8b","type":"rpi-gpio out","z":"9d935658.3f64f8","name":"LED","pin":"29","set":true,"level":"0","freq":"","out":"out","x":650,"y":260,"wires":[]},{"id":"dfd80ad0.80f2f","type":"function","z":"9d935658.3f64f8","name":"set led state","func":"var state = context.get('state') || false;\nstate = !state;\ncontext.set('state', state);\n\nreturn {\n    payload: state\n}","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["b4f27da7.27c8b","a5caef36.bd401"]]},{"id":"a5caef36.bd401","type":"debug","z":"9d935658.3f64f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":220,"wires":[]},{"id":"eb3f5dca.7c88","type":"mqtt out","z":"9d935658.3f64f8","name":"","topic":"button","qos":"","retain":"","broker":"faa9ffbf.66fd08","x":690,"y":140,"wires":[]},{"id":"39042472.393fa4","type":"mosca in","z":"9d935658.3f64f8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Raspberry","username":"","password":"","dburl":"","x":140,"y":40,"wires":[[]]},{"id":"a5f1dec8.59b19","type":"mqtt in","z":"9d935658.3f64f8","name":"","topic":"nextStudent","qos":"0","datatype":"utf8","broker":"faa9ffbf.66fd08","x":150,"y":280,"wires":[["16efa3db.1140e4","dfd80ad0.80f2f"]]},{"id":"16efa3db.1140e4","type":"debug","z":"9d935658.3f64f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":300,"wires":[]}]