NodeRed/raspberry.json
[{"id":"9d935658.3f64f8","type":"tab","label":"Interface","disabled":false,"info":""},{"id":"99edcdd3.3aec48","type":"tab","label":"Authentification","disabled":false,"info":""},{"id":"ac0ed895.e525e","type":"tls-config","z":null,"name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"faa9ffbf.66fd08","type":"mqtt-broker","z":"","name":"Raspberry","broker":"192.168.137.89","port":"1883","tls":"ac0ed895.e525e","clientid":"rasp","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1e556e6.689e1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e970cd","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Raspberrrypi","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"289fb197.7764c6","type":"ui_tab","z":"","name":"lcd_display","icon":"dashboard","disabled":false,"hidden":false},{"id":"f5c578d0.a77c1","type":"ui_group","z":"","name":"lcd","tab":"289fb197.7764c6","disp":true,"width":"6","collapse":false},{"id":"5bdcb299.1077a4","type":"ui_spacer","name":"spacer","group":"3ca8fa47.6a79be","order":2,"width":1,"height":1},{"id":"3fd4ca06.c91ce6","type":"ui_tab","z":"","name":"authentification","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fec649c.52f5db8","type":"ui_group","z":"","name":"Authentification","tab":"3fd4ca06.c91ce6","order":1,"disp":true,"width":"6","collapse":false},{"id":"39042472.393fa4","type":"mosca in","z":"9d935658.3f64f8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"Raspberry","username":"","password":"","dburl":"","x":120,"y":40,"wires":[[]]},{"id":"e454706f.23942","type":"mqtt in","z":"9d935658.3f64f8","name":"","topic":"ledState","qos":"0","datatype":"json","broker":"faa9ffbf.66fd08","x":120,"y":100,"wires":[["793d428b.87b15c"]]},{"id":"793d428b.87b15c","type":"rpi-gpio out","z":"9d935658.3f64f8","name":"LED","pin":"29","set":true,"level":"0","freq":"","out":"out","x":870,"y":100,"wires":[]},{"id":"6d320522.74d63c","type":"mqtt in","z":"9d935658.3f64f8","name":"","topic":"stringIn","qos":"0","datatype":"utf8","broker":"faa9ffbf.66fd08","x":110,"y":180,"wires":[["94828aca.32b068"]]},{"id":"94828aca.32b068","type":"ui_text","z":"9d935658.3f64f8","group":"f5c578d0.a77c1","order":0,"width":0,"height":0,"name":"lcd","label":"","format":"{{msg.payload}}","layout":"col-center","x":870,"y":180,"wires":[]},{"id":"828ffb5a.04dd28","type":"ui_form","z":"99edcdd3.3aec48","name":"Authentification","label":"","group":"fec649c.52f5db8","order":3,"width":0,"height":0,"options":[{"label":"Adresse mail","value":"emailAddress","type":"text","required":true},{"label":"Mot de passe","value":"password","type":"password","required":true}],"formValue":{"emailAddress":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":40,"wires":[["748d02c6.12019c","efff98d4.6570d8"]]},{"id":"748d02c6.12019c","type":"debug","z":"99edcdd3.3aec48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":40,"wires":[]},{"id":"efff98d4.6570d8","type":"mqtt out","z":"99edcdd3.3aec48","name":"login","topic":"login","qos":"0","retain":"","broker":"faa9ffbf.66fd08","x":320,"y":80,"wires":[]},{"id":"7e3a62b6.3dafe4","type":"mqtt in","z":"99edcdd3.3aec48","name":"","topic":"connected","qos":"0","datatype":"json","broker":"faa9ffbf.66fd08","x":100,"y":160,"wires":[["2031d0a3.e350f"]]},{"id":"2031d0a3.e350f","type":"debug","z":"99edcdd3.3aec48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":160,"wires":[]},{"id":"d9e975e.d39e608","type":"rpi-gpio in","z":"9d935658.3f64f8","name":"Button","pin":"31","intype":"down","debounce":"25","read":true,"x":110,"y":260,"wires":[["ad66965c.3f2968"]]},{"id":"a6002da5.04aaf","type":"function","z":"9d935658.3f64f8","name":"set mqtt","func":"return {\n    payload: 'raspberry'\n}","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["677ee389.dceccc"]]},{"id":"677ee389.dceccc","type":"mqtt out","z":"9d935658.3f64f8","name":"","topic":"button","qos":"","retain":"","broker":"faa9ffbf.66fd08","x":870,"y":260,"wires":[]},{"id":"ad66965c.3f2968","type":"change","z":"9d935658.3f64f8","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":260,"wires":[["1da87b8a.723164"]]},{"id":"1da87b8a.723164","type":"function","z":"9d935658.3f64f8","name":"1ms","func":"if (msg.payload == 0) {\n    context.set('time', msg.time);\n    return {\n        payload: false\n    };\n} else {\n    var pullDown = context.get('time');\n    var pullUp = msg.time;\n    \n    if (pullUp - pullDown > 1) {\n        return {\n            payload: true\n        };\n    }\n}","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["c1bcad0a.585e58"]]},{"id":"c1bcad0a.585e58","type":"switch","z":"9d935658.3f64f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":260,"wires":[["a6002da5.04aaf"]]}]